* { 
    text-align: justify;
}  
#hexcolor h1.center {
    display: inline; 
}
#hexcolor h1#code {
display: inline; 
color: skyblue;
}
#hexcolor{
    background-color: black;
    padding: 20px;
    font-size: 20px;
    border: 10px; 
    color: white;
    margin : 30px; 
    border-radius: 30px
}
.buttonclick :hover{
    color: white;
    background-color: black;
    text-align: center; 
    margin-top: 10px; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}
